<!DOCTYPE HTML>
<html>
<head>
    <title>Poisson</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.1/moment.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cubism/1.6.0/cubism.v1.js"></script>
    <link href="https://square.github.io/cubism/style.css" rel="stylesheet" />

    <script type="text/javascript">
        var socket = io.connect('//' + document.domain + ':' + location.port + '/poisson');
        var me = Math.round(Math.random() * 1000);
        socket.emit('connected', { "id": me });

        var events;
        var event_flags = {};
        socket.on('events', function(msg) {
            if (msg.id == me){
                events = msg.event_members
                event_flags = msg.event_flags
            }
        });

        var newly_connected = 1;
        var observations;
        socket.on('observations', function(msg) {
            if (msg.id == me){
                observations = msg.observations;

                plot_axis("top");
                plot_horizons();
                plot_axis("bottom");
            }
        });

        socket.on('new-observation', function(msg) {
            $('#event-count').text(msg.count);
            $('#last-event').text(moment(msg.last, "X").fromNow());
            $('#timespan').text(moment(msg.timespan, "X").fromNow());
            event_flags[msg.event_name] = msg.data;
        });
        socket.on('new-event', function(msg) {
            events.push(msg.event_name);
            event_flags[msg.event_name] = 0;
            plot_horizons();
        });

        // Fetch event data
        function fetch_event(name) {
            if (newly_connected == 1) {
                var values = observations[name];
            }
            else {
                var values = [];
            }
            return context.metric(function(start, stop, step, callback) {
                if (newly_connected == 1){
                    var last = stop;
                }
                else{
                    var last = start;
                }

                start = +start;
                stop = +stop;

                while (last < stop) {
                    last += step;
                    values.push(event_flags[name]);
                    event_flags[name] = 0;
                }
                callback(null, values = values.slice((start - stop) / step));
            }, name);
        }

        // Init Cubism Context
        var context = cubism.context()
                .serverDelay(30 * 1000) // allow 30 seconds of collection lag
                .step(30 * 1000) // 30s per value
                .size(960); // fetch n values

        function plot_axis(orient){
            // Plot the event graph axis with d3
            d3.select("#event-graph-axis-"+orient).call(function(div) {
                div.append("div")
                    .attr("class", "axis")
                    .call(context.axis().orient(orient));
            });
        }

        function plot_horizons(){
            // Plot the event graph axis with d3
            d3.select("#event-graph").call(function(div) {
                div.selectAll(".horizon")
                    .data(events.map(fetch_event))
                    .enter().append("div")
                    .attr("class", "horizon")
                    .call(context.horizon()
                        .format("")
                        .height(100)
                    );
            });
            newly_connected = 0;
        }
    </script>
</head>
<body>
    <h1>Poisson</h1>
    <h2>#Events</h2>
    <p id="event-count">{{ count }}</p>
    <h2>Last Event</h2>
    <p id="last-event">{{ last_event }}</p>
    <h2>Timespan</h2>
    <p id="timespan">{{ first_event }}</p>
    <div id="event-graph-axis-top"></div>
    <div id="event-graph"></div>
    <div id="event-graph-axis-bottom"></div>

    <script>
        // Humanise initial timestamps
        if ($('#last-event').text() != "Never"){
            $('#last-event').text(moment($('#last-event').text(), "X").fromNow());
        }
        $('#timespan').text(moment($('#timespan').text(), "X").fromNow());
    </script>
</body>
</html>
