<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Poisson</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.1/moment.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cubism/1.6.0/cubism.v1.js"></script>

    <link href="https://square.github.io/cubism/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        body {
            margin-top: 30px;
            width: 100%;
        }
        h1, h2, h3, h4 {
            margin-top: 0;
            margin-bottom: 0;
        }
        h3 {
            margin-bottom: 25px;
        }
    </style>

    <script type="text/javascript">
        var socket = io.connect('//' + document.domain + ':' + location.port + '/poisson');
        var me = Math.round(Math.random() * 1000);
        socket.emit('connected', { "id": me });

        var events;
        var event_flags = {};
        var event_configs = {};

        var newly_connected = 1;
        var observations;
        var observations_mini;

        socket.on('observations', function(msg) {
            if (msg.id == me){
                events = msg.event_members
                event_flags = msg.event_flags
                event_configs = msg.event_configs

                for (var i = 0; i < events.length; i++) {
                    d3.select("#event-graphs").call(function(div) {
                        div.append("div")
                        .attr("id", "event-graph-"+events[i])
                        .attr("class", "event-graph")
                    });
                    d3.select("#mini-event-graphs").call(function(div) {
                        div.append("div")
                        .attr("id", "mini-event-graph-"+events[i])
                        .attr("class", "mini-event-graph")
                    });
                };

                observations = msg.observations;
                observations_mini = msg.observations_mini;

                plot_axis("top");
                events.map(plot_horizons);
                plot_axis("bottom");
                newly_connected = 0;
            }
        });

        socket.on('new-observation', function(msg) {
            $('#event-count').text(msg.count);
            $('#last-event').text(moment(msg.last, "X").fromNow());
            $('#timespan').text(moment(msg.timespan, "X").fromNow());
            event_flags[msg.event_name] = msg.data;
        });
        socket.on('new-event', function(msg) {
            events.push(msg.event_name);
            event_flags[msg.event_name] = 0;
            d3.select("#event-graphs").call(function(div) {
                div.append("div")
                    .attr("id", "event-graph-"+msg.event_name)
                    .attr("class", "event-graph")
            });
            d3.select("#mini-event-graphs").call(function(div) {
                div.append("div")
                .attr("id", "mini-event-graph-"+msg.event_name)
                .attr("class", "mini-event-graph")
            });
            events.map(plot_horizons);
        });

        // Fetch event data
        function fetch_event(name) {
            if (newly_connected == 1) {
                var values = observations[name];
            }
            else {
                var values = [];
            }
            return context.metric(function(start, stop, step, callback) {
                if (newly_connected == 1){
                    var last = stop;
                }
                else{
                    var last = start;
                }

                start = +start;
                stop = +stop;

                while (last < stop) {
                    last += step;
                    values.push(event_flags[name]);
                }
                callback(null, values = values.slice((start - stop) / step));
            }, name);
        }
        function fetch_event_mini(name) {
            if (newly_connected == 1) {
                var values = observations_mini[name];
            }
            else {
                var values = [];
            }
            return mini_context.metric(function(start, stop, step, callback) {
                if (newly_connected == 1){
                    var last = stop;
                }
                else{
                    var last = start;
                }

                start = +start;
                stop = +stop;

                while (last < stop) {
                    last += step;
                    values.push(event_flags[name]);
                }
                callback(null, values = values.slice((start - stop) / step));
            }, name);
        }

        // Init Cubism Context
        var context = cubism.context()
                .serverDelay(30 * 1000) // allow 30 seconds of collection lag
                .step(2 * 60 * 1000) // 2m per value
                .size(945); // fetch n values
        var mini_context = cubism.context()
                .serverDelay(30 * 1000) // allow 30 seconds of collection lag
                .step(30 * 1000) // 30s per value
                .size(165); // fetch n values

        function plot_axis(orient){
            // Plot the event graph axis with d3
            d3.select("#event-graphs-axis-"+orient).call(function(div) {
                div.append("div")
                    .attr("class", "axis")
                    .call(context.axis().orient(orient));
            });
            d3.select("#mini-event-graphs-axis-"+orient).call(function(div) {
                div.append("div")
                    .attr("class", "axis")
                    .call(mini_context.axis()
                        .orient(orient)
                        .ticks(d3.time.minutes, 30)
                    );
            });
        }

        function plot_horizons(event_name){
            // Plot the event graph axis with d3
            var colours = ["#431FD1", "#382ED1", "#2D3DD1", "#234CD1", "#256D74", "#288F18", "#8CA71A", "#F0BF1D", "#E49C1E", "#D97A20", "#CB4D20", "#BD2020"];
            var extent = [0,100];
            var title = event_name;
            var height = 75;

            if (event_name in event_configs){
                if ("colours" in event_configs[event_name])
                    colours = event_configs[event_name]["colours"];
                if ("extent" in event_configs[event_name])
                    extent = event_configs[event_name]["extent"];
                if ("title" in event_configs[event_name])
                    title = event_configs[event_name]["title"];
                if ("height" in event_configs[event_name])
                    height = event_configs[event_name]["height"];
            }

            d3.selectAll("#event-graph-" + event_name).call(function(div) {
                div.selectAll("#event-graph-" + event_name + " > .horizon")
                    .data([fetch_event(event_name)])
                    .enter().append("div")
                    .attr("class", "horizon")
                    .call(context.horizon()
                        .height(height)
                        .format(d3.format(",.1f"))
                        .colors(colours)
                        .extent(extent)
                        .title(title)
                    )
                    .call(context.rule());
            });

            d3.selectAll("#mini-event-graph-" + event_name).call(function(div) {
                div.selectAll("#mini-event-graph-" + event_name + " > .horizon")
                    .data([fetch_event_mini(event_name)])
                    .enter().append("div")
                    .attr("class", "horizon")
                    .call(mini_context.horizon()
                        .height(height)
                        .format(d3.format(",.1f"))
                        .colors(colours)
                        .extent(extent)
                        .title(title)
                    )
                    .call(mini_context.rule());
            });
        }

        context.on("focus", function(i) {
            d3.selectAll(".event-graph > .horizon > .value").style("right", i == null ? null : context.size() - i + "px");
        });

    </script>
</head>
<body>
  <div class="container">
  <div class="row">
    <div class="col-md-2">
        <h1>Poisson</h1>
    </div>
    <div class="col-md-3">
        <h4>Location</h4>
        <h3><p>Sam and Tom Industrys</p></h3>
    </div>
    <div class="col-md-1">
        <h4>Events</h4>
        <h3><p id="event-count">{{ count }}</p></h3>
    </div>
    <div class="col-md-3">
        <h4>Last Event</h4>
        <h3><p id="last-event">{{ last_event }}</p></h3>
    </div>
    <div class="col-md-2">
        <h4>Timespan</h4>
        <h3><p id="timespan">{{ first_event }}</p></h3>
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
        <div id="event-graphs-axis-top"></div>
        <div id="event-graphs"></div>
        <div id="event-graphs-axis-bottom"></div>
    </div>
    <div class="col-md-2">
        <div id="mini-event-graphs-axis-top"></div>
        <div id="mini-event-graphs"></div>
        <div id="mini-event-graphs-axis-bottom"></div>
    </div>
  </div>
  </div>
  <script>
    // Humanise initial timestamps
    if ($('#last-event').text() != "Never"){
        $('#last-event').text(moment($('#last-event').text(), "X").fromNow());
    }
    $('#timespan').text(moment($('#timespan').text(), "X").fromNow());
  </script>
</body>
</html>
